body {
  width: 400px;
  margin: 0;
  padding: 24px;
  background-color: #111C31;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-weight: normal;
  font-size: 1.6em;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.label, h1 {
  pointer-events: none;
  user-select: none;
}

section:not(:last-of-type) {
  margin-bottom: 12px;
}

code {
  font-family: 'IBM Plex Mono', monospace;
  color: #FFCB44;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-break: break-all;
}